<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 Ansh Gandhi
  ~
  ~ This file is part of Piano Scales Randomizer.
  ~
  ~ Piano Scales Randomizer is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Piano Scales Randomizer is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Piano Scales Randomizer.  If not, see <https://www.gnu.org/licenses/>.
  ~
  ~ Original Author: Ansh Gandhi
  ~ Original Source Code: <https://github.com/anshipie/ABRSM-Scales-App/>
  ~ Original App: Waiting for Publish
  ~
  ~ EVERYTHING ABOVE THIS LINE MUST BE KEPT AS IS UNDER GNU GPL LICENSE RULES.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anshgandhi.pianoscalesrandomizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Grade1RegularScales" />
        <activity android:name=".Grade2RegularScales" />
        <activity android:name=".Grade3RegularScales" />
        <activity android:name=".Grade4RegularScales" />
        <activity android:name=".Grade5RegularScales" />
        <activity android:name=".Grade1Activity" />
        <activity android:name=".Grade2Activity" />
        <activity android:name=".Grade3Activity" />
        <activity android:name=".Grade4Activity" />
        <activity android:name=".Grade5Activity" />
        <activity android:name=".Grade6RegularScales" />
        <activity android:name=".Grade6Activity" />
        <activity android:name=".Grade7Arpeggios" />
        <activity android:name=".Grade7RegularScales" />
        <activity android:name=".Grade7Activity" />
        <activity android:name=".Grade8Arpeggios" />
        <activity android:name=".Grade8RegularScales" />
        <activity android:name=".Grade8Activity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>